<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Google Stock Price Predictor
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
</head>

<body>

    <div id=header>
        <img src="../static/images/google.png" alt="google.png">
        <h1>Stock Price Prediction</h1>
    </div>

    <marquee>
        <p style="font-weight:bold; font-family: Helvetica;">*Stock Investments and Mutual Funds are subject to market
            risks.
            Please read all Scheme
            related
            documents carefully
            before investing*</p>
    </marquee>

    <div id="chart"></div>

    <div id="sensorDiv1">
        <h1 class="sensor1">Sensor</h1>
    </div>
    <div id="sensorDiv2">
        <h1 class="sensor2">Sensor</h1>
    </div>



</body>

</html>